body{
    background-image: url(pic/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.Home-galeri{
    display: flex;
    height: 20rem;
    gap: 1rem;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 18%;
    margin-bottom: 30%;
}

.Home-galeri > div {
    flex: 1;
    border-radius: 1rem;
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    transition: all .8s cubic-bezier(.25 , .4 , .45 , 1.4);
}

.Home-galeri > div:hover{
    flex: 5;
}

.HappyNewYear{
    width: 90%;
    margin-top: 5%;
    margin-left: 34%;
    margin-right: 34%;
}


.ContainerHome{
    margin-top: 15%;
    margin-left: 15%;
    margin-bottom: 10%;
    width: 70%;
    height: 80%;
    padding: 3.5%;
    box-shadow: 20px;
    background-color: rgb(219, 212, 212);
    box-sizing: border-box;
    border-radius: 30px;
    border: 2px solid rgb(172, 2, 2);
    opacity: 0.97;
    font-size: large    ;
    color: rgb(22, 22, 22);
}


.ContainerHome:hover{
    background-image: url(pichover/gifhome.gif);
    background-size: cover;
    opacity: 1;
}


#google_translate_element{
    text-emphasis: none;
    text-align: center;
    width: 170px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    background-color: rgb(148, 27, 27);
    border-radius: 15px;
    opacity: 0.9;
    color: rgb(197, 194, 28);
    border: 2px orange solid;
}

#google_translate_element:hover{
    opacity: 0.8;
    color: rgb(241, 22, 22);
    background-color: rgb(218, 218, 218);
}


.goog-te-combo{
    background-color:  rgb(231, 229, 228);
    color: rgb(253, 10, 10);
    font-family: serif;
    
}